@{
    String pageRoute = ViewContext.RouteData.Values["page"].ToString();
}
<!DOCTYPE html>
<html lang="de-de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="must-revalidate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cit-eTrike - das Elektro - Lastendreirad</title>
    <meta charset="utf-8" name="description" content="Cit-eTrike Die Lösung für den innerstädtischen Lastentransport Made in Germany. UPE zzgl. Überführung und Lithium Akku">
    <!-- Font Awesome -->
    <!-- <link rel="preload" as="script" href="critical.js"> -->
    <link rel="canonical" href="http://cit-etrike.de" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" async>
    @*
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" async>
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet" async>
    *@


    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/lib/MDB-Free_4.10.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/MDB-Free_4.10.1/css/mdb.min.css" />
    <!-- Your custom styles (optional) -->
    <link href="~/css/Layout.min.css" rel="stylesheet" asp-append-version="true">
    @{

        @switch (pageRoute)
        {
            case "/Index":
                <link href="~/css/etrike.css" rel="stylesheet" asp-append-version="true">
                break;
            case "/PoliciesPage":
                <link href="~/css/etrikeCategory.css" rel="stylesheet" asp-append-version="true">
                break;
            case "/ProductPage":
                <link href="~/css/etrikeProduct.css" rel="stylesheet" asp-append-version="true">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

                break;
            case "/CategoryPage":
                <link href="~/css/etrikeCategory.css" rel="stylesheet" asp-append-version="true">
                break;
        }
    }
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png" async>
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png" async>
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png" async>
    <link rel="shortcut icon" href="~/favicon.ico">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="scroll_Spy">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" asp-page="Index">
                <img id="MH_Logo" src="~/images/Ming_Hong_3_Mini.webp" width="70" alt="Ming Hong Logo">
            </a>
            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                @await Component.InvokeAsync("Menu", new {id=1, pageRoute=pageRoute })
                @*<ul class="navbar-nav mr-auto">
                        <li class="nav-item font-weight-bold">
                            <a class="nav-link smooth_Link" href="#">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item font-weight-bold">
                            <a href="#uber_uns" class="nav-link smooth_Link">Über uns</a>
                        </li>
                        <li class="nav-item font-weight-bold">
                            <a class="nav-link smooth_Link" href="#Service">Händler und Service</a>
                        </li>
                        <li class="nav-item font-weight-bold">
                            <a class="nav-link smooth_Link" href="#Contact">Kontakt</a>
                        </li>
                        <li class="nav-item dropdown font-weight-bold" id="eTrikesDropDown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                eTrikes
                            </a>
                            <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                                <a class="dropdown-item" href="#">eTrikes</a>
                                <a class="dropdown-item" href="#">eTrikes</a>
                                <a class="dropdown-item" href="#">eTrikes</a>
                            </div>
                        </li>
                    </ul>*@
                <!-- Right -->
                <!--                 <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="https://www.facebook.com" class="nav-link" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://twitter.com" class="nav-link" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li> -->
                <!--                     <li class="nav-item">
                    <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded" target="_blank">
                        <h5 class="font-weight-bold"><span class="orange-text"> Let</span><span class="text-dark">Me</span><span class="orange-text">Repair</span></h5>
                    </a>
                </li> -->
                <!-- </ul> -->

            </div>
        </div>
    </nav>

    @RenderBody()

    @*@Html.Partial("_Part")*@
    <!--Footer-->
    <footer class="page-footer text-center font-small pt-4 wow fadeIn">
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left ">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4 text-center">
                    <!-- Content -->
                    <h5 id="Ming" class="text-uppercase mt-3"><img src="~/images/Ming_Hong_2.webp" width="150" alt="Ming Hong logo"></h5>
                    <h5>Exklusiver Distributor</h5>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">
                <!-- Grid column -->
                <div class="col-md-2">
                    <!-- Links -->
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Presse</a>
                        </li>
                        <li>
                            <a href="#!">Zubehör</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2">
                    <!-- Links -->
                    <ul class="list-unstyled">
                        <li>
                            <a asp-page="PoliciesPage" asp-route-id="1">Datenschutzerklärung</a>
                        </li>
                        <li>
                            <a asp-page="PoliciesPage" asp-route-id="2">Impressum</a>
                        </li>
                        <li>
                            <a asp-page="PoliciesPage" asp-route-id="3">AGB</a>
                        </li>
                        <li>
                            <a asp-page="PoliciesPage" asp-route-id="4">Garantie und Gewährleistung - Verschleißteile</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 text-center">
                    <!-- Content -->
                    <!--                     <h1 id="LMR" class="font-weight-bold mt-5" style="font-family: Arial Black"><span class="orange-text"> Let</span><span class="text-dark">Me</span><span class="orange-text">Repair</span></h1>
                                       <h5>Kooperationspartner für die Montage, Ersatzteildistribution und Garantieabwicklung</h5>
                    -->
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
        <hr class="my-4">
        <!-- Social icons -->
        <div class="pb-4" style="font-size: 36px;">
            <a href="https://www.facebook.com" target="_blank" rel='noopener'>
                <i class="fab fa-facebook-f mr-3"></i>
            </a>
            <a href="https://twitter.com" target="_blank" rel='noopener'>
                <i class="fab fa-twitter mr-3"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank" rel='noopener'>
                <i class="fab fa-youtube mr-3"></i>
            </a>
            <a href="https://plus.google.com" target="_blank" rel='noopener'>
                <i class="fab fa-google-plus-g mr-3"></i>
            </a>
            <a href="https://dribbble.com" target="_blank" rel='noopener'>
                <i class="fab fa-dribbble mr-3"></i>
            </a>
            <a href="https://pinterest.com" target="_blank" rel='noopener'>
                <i class="fab fa-pinterest mr-3"></i>
            </a>
            <a href="https://github.com" target="_blank" rel='noopener'>
                <i class="fab fa-github mr-3"></i>
            </a>
            <a href="http://codepen.io" target="_blank" rel='noopener'>
                <i class="fab fa-codepen mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->
        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2019 - <span id="Year"></span>
            Copyright: <a href="mailto:Krechman@letmerepair.com?Subject=Citetrike" target="_top">Karol Rechman</a>, <a href="mailto:service@letmerepair.com?Subject=Citetrike" target="_top">LetMeRapair</a>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjPczkOYupe7orrc7BwS9k70Yh2rEzQcE&libraries=places"></script>
    <!-- SCRIPTS -->
    <!--     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANIbt6uGsYQuQWDWDI47tTK1oVq_-9pIA&callback=initMap" type="text/javascript"></script>
    -->
    @*
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" async></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js" async></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" async></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js" async></script>
    *@

    <!-- JQuery -->
    <script type="text/javascript" src="~/lib/MDB-Free_4.10.1/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/lib/MDB-Free_4.10.1/js/popper.min.js"></script>
    @*<script type="text/javascript" src="~/lib/fontawesome-free-5.11.2-web/js/all.js"></script>*@

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/lib/MDB-Free_4.10.1/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/lib/MDB-Free_4.10.1/js/mdb.min.js"></script>
    <script type="text/javascript" src="~/js/Layout.min.js" asp-append-version="true"></script>

    @switch (pageRoute)
    {
        case "/Index":
            <script type="text/javascript" src="~/js/etrike.js" asp-append-version="true"></script>
            break;
        case "/PoliciesPage":
            <script type="text/javascript" src="~/js/eTrikeCategory.js" asp-append-version="true"></script>
            break;
        case "/ProductPage":
            <script type="text/javascript" src="~/js/etrikeProduct.js" asp-append-version="true"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
            break;
        case "/CategoryPage":
            <script type="text/javascript" src="~/js/eTrikeCategory.js" asp-append-version="true"></script>
            break;
    }
</body>

</html>
