@media (min-width: 100px) and (max-width: 981px) {
    .navbar:not(.top-nav-collapse) {
        background: #388e3c !important;
    }

    .dropdown-menu {
        background-color: #43a047 !important;
        border: unset !important;
        color: white !important;
        min-width: 230px !important;
        overflow: auto;
    }

    .dropdown-submenu > .dropdown-menu {
        display: none !important;
        visibility: hidden !important;
    }

    #MH_Logo {
        max-height: 40px;
        max-width: 40px;
    }
}

@media (min-width: 980px) {
    #DDMenu {
        min-width: 230px !important;
        right: -5vw !important;
        margin: 1px;
    }
}

@media (min-width: 1360px) {
    #DDMenu {
    }
}

@media (max-width:981px) {
    .navbar {
        background-color: #388e3c !important;
    }
}

body,
html {
    height: 100%
}

body {
    background-color: #f5f5f5 !important;
}

html {
    scroll-behavior: auto;
}
/* width */
.dropdown-menu::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.dropdown-menu::-webkit-scrollbar-track {
    background: #388e3c;
}

/* Handle */
.dropdown-menu::-webkit-scrollbar-thumb {
    background: #33b5e5;
    border-radius: 5px;
}

    /* Handle on hover */
    .dropdown-menu::-webkit-scrollbar-thumb:hover {
        background: #0099CC;
    }

a {
    cursor: pointer !important;
}

.navbar {
    background-color: #388e3c !important;
}

    /*.navbar .dropdown-menu a:not(.active) {
        color: white !important;
    }*/

    .navbar .dropdown-menu a:hover {
        color: white !important;
        background-color: #2e7d32 !important;
        font-weight: 600;
    }


.dropdown-menu {
    background-color: rgba(0, 0, 0, .7);
    border: unset !important;
    color: white !important;
    /*top: 50px;*/
    opacity: 0.999;
    /*max-width: 25vw;*/
    max-height: 50vh;
    transition: 0.35s ease-in;
    /*overflow-y:scroll;*/
}

    .dropdown-menu a {
        padding: 1%;
        padding-left: 5% !important;
        margin: 1%;
        margin-left: 5% !important;
        width: 90% !important;
        font-size: 2vw;
        
    }

.dropdown-item {
    border-radius: 5px;
    color: white;

}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block !important;
}

.dropdown-submenu {
    position: relative !important;
  
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        /*left:-100%;*/
        left: -12.2rem; /* 10rem is the min-width of dropdown-menu */
        margin-top: -8px;
    }

    .dropdown-submenu a:hover {
        background-color: #2e7d32 !important;
    }
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    /*text-decoration: underline;*/
    transform: rotate(-90deg);
    
}
.dropdown-submenu ul {
    min-width: 200px !important;
}

@media (max-width: 780px) {
}

.page-footer,
.top-nav-collapse {
    background-color: #388e3c !important;
}

.subM {
    border-right: solid 5px #1b5e20 !important;
}

.MobileListMenu {
    list-style-type: none !important;
    background-color: inherit !important;
}

.OverFlowNav {
    max-height: 100vh;
    overflow: auto;
}

.hyphenate {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    -webkit-hyphens: auto !important;
    -ms-hyphens: auto !important;
    -moz-hyphens: auto !important;
    hyphens: auto !important;
}
